{% extends 'mailing/base.html' %}
{% block content %}
<h1 class="jumbotron-heading">Удаление клиента из базы</h1>
{% endblock %}

{% block product %}
<div class="row text-start">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <form method="post" action="" class="form-floating">
                    {% csrf_token %}
                    <h5>Вы хотите удалить клиента {{ object.first_name}} {{ object.last_name }}?</h5>
                    <button type="submit" class="btn btn-lg btn-outline-primary">Подтвердить</button>
                    <a href="{% url 'mailing:client_list' %}" class="btn btn-lg btn-outline-warning">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}