{% extends 'mailing/base.html' %}
{% block content %}
<h1 class="jumbotron-heading">Настройки рассылки</h1>
{% endblock %}
{% block product %}
<div class="row text-start">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Рассылка {{ object.pk }}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Время начала отправки: {{ object.time_start }}</p>
                <p class="card-text">Время окончания отправки: {{ object.time_end }}</p>
                <p class="card-text">Период рассылки: {{ object.frequency }}</p>
                <p class="card-text">Статус: {{ object.status }}</p>
                <p class="card-text">Пользователь: {{ object.user }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}